@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang|Lato');


body{
  font-family: 'Lato', sans-serif;
}

.none-mobile{
  display: flex
}

.none-desk{
  display: none
}

// Configurações de   GRID

.col{
  &-1{

    margin: 5px;
    width: 8.3333%
  }
  &-2{
    margin: 5px;
    width: 16.66666%
  }
  &-3{
    margin: 5px;
    width: 24%
  }
  &-4{
    margin: 5px;
    width: 33.3333%
  }
  &-5{
    margin: 5px;
    width: 41.66%
  }
  &-6{
    margin: 5px;
    width: 46.5%
  }
  &-7{
    margin: 5px;
    width: 58.3333%
  }
  &-8{
    margin: 5px;
    width: 66.6666%
  }
  &-9{
    margin: 5px;
    width: 75%
  }
  &-10{
    margin: 5px;
    width: 83.3333%
  }
  &-11{
    margin: 5px;
    width: 91.66%
  }
  &-12{
    margin: 5px;
    width: 100%
  }
}

.justify-content{
  &-end{
    justify-content: flex-end;
  }
  &-start{
    justify-content: flex-start;
  }
  &-center{
    justify-content: center;
  }
  &-around{
    justify-content: space-around;
  }
  &-between{
    justify-content: space-between;
  }
}

.align{
  &-center{
    align-items: center;
  }
  &-down{
    align-items: flex-end;
  }
  &-up{
    align-items: flex-start;
  }
}

.card {
  background-color: #fff;
  box-shadow: 1px 1px 10px #c9c9c9;
  border-radius: 5px;
  padding: 5px 10px;
  &-title{
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #c9c9c9
  }
  &-header{
    padding: .5rem
  }
  &-content{
    padding: 1rem
  }
}

.border{
  border-left: 1px solid #c9c9c9;
}

.row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .tableheader{
    border-bottom: 1px solid #c9c9c9;
    .table-title{
      margin: 0
    }
  }
  &-table{
    background-color: #c7c7c77e;
    border:0.5px solid #c9c9c9;
  }
}


//Configuraçoes de Formulario

.form-title{
  color: #fcfcfc;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

// input material
textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 


.input-material{
  padding: 15px 0;
  order: 2;
  border: 0;
  color: #a1a1a1;
  font-weight: 550;
  font-size: 17px;
  border-bottom:1px solid #575757;
  width: 100%;
  border-radius: 0;
  caret-color: #fff;
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center 100%;
  background-color: transparent;
  box-shadow: none;
  transition: 0.3s ease;
  background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
  letter-spacing: .5px;
}

$material-checkbox-checked-color: #ffbb00;
$material-checkbox-border-color: rgba(0, 0, 0, 0.54);
$material-checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$material-checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);


$material-checkbox-size: 1.25em;
$material-checkbox-padding: .25em;
$material-checkbox-border-width: 2px;
$material-checkbox-border-radius: 0.125em;
$material-checkmark-width: 0.125em;
$material-checkmark-color: #000;
$material-checkbox-label-padding: .75em;

.material-checkbox {
  color: #a1a1a1;
  position: relative;
  margin: 1em 0;
  text-align: left;
  
  label {
    cursor: pointer;
    display: inline;
    line-height: 1.25em;
    vertical-align: top;
    clear: both;
    padding-left: 1px;
    &:not(:empty) {
      padding-left: $material-checkbox-label-padding;
    }
    
    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
    }
    
    &:before {
      // box
      width: $material-checkbox-size;
      height: $material-checkbox-size;
      background: #fff;
      border: $material-checkbox-border-width solid $material-checkbox-border-color;
      border-radius: $material-checkbox-border-radius;
      cursor: pointer;
      transition: background .3s;
    }
  
    &:after {
      // checkmark
    }    
  }
  
  input[type="checkbox"] {
    outline: 0;
    visibility: hidden;
    width: $material-checkbox-size;
    margin: 0;
    display: block;
    float: left;
    font-size: inherit;

    &:checked {
       + label:before{
        background: $material-checkbox-checked-color;
        border:none;
      }
      + label:after {
        
        $material-checkmark-size: $material-checkbox-size - 2 * $material-checkbox-padding;

        transform: translate($material-checkbox-padding, ($material-checkbox-size / 2) - ($material-checkmark-size / 2.6)) rotate(-45deg);
        width: $material-checkmark-size;
        height: $material-checkmark-size / 2;
        
        border: $material-checkmark-width solid $material-checkmark-color;
        border-top-style: none;
        border-right-style: none;
      } 
    }
    
    &:disabled {
      + label:before{
        border-color: $material-checkbox-border-color-disabled;
      }
      &:checked {
        + label:before{
          background: $material-checkbox-checked-color-disabled;
        }
      }
    }
  }
 
}

.label-material {
  font-weight: 700;
  color: #575757;
  justify-content: center;
  transition: 0.3s ease;
  order: 1;
  justify-content: center;
  font-size: 13px;
  pointer-events: none;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}
.control{
  &-input{
  background-color: transparent;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  padding: 10px
  }
  &-label{
    font-size: 14px;
    width: 100%;
    color: #4a484c;
    font-weight: 600;
    padding-bottom: 5px;
  }
}

.error{
  color: #f90707;
  font-weight: 700;
}




//Configuraçoes de Buttons
 
.btn{
  border: #002A22;
  border-radius: 25px;
  padding: 12px 55px;
  margin: 10px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.493);
  &-success{
    background-color: #26A69A;
    color: #fff;
    &:hover{
      transition: 0.2s;
      background-color: #25caba;
    }
  }
  &-warning{
    background-color: #ffbb00;
    color: #000;
    font-weight: 600;
    &:hover{
      transition: .2s;
      background-color: #ffbb00;
    }
  }
  &-danger{
    background-color: #FF3547;
    color: #fff;
    &:hover{
      transition: .2s;
      background-color: #CC0000;
    }
  }
}

.link{
  color: #656366;
  margin-left: 10px;
}

//Mobile CSS


@media only screen and (max-width: 800px) {
  .col-sm{
    &-1{
  
      margin: 5px !important;
      width: 8.3333% !important
    }
    &-2{
      margin: 5px !important;
      width: 16.66666% !important
    }
    &-3{
      margin: 5px !important;
      width: 24% !important
    }
    &-4{
      margin: 5px !important;
      width: 33.3333% !important
    }
    &-5{
      margin: 5px !important;
      width: 41.66% !important
    }
    &-6{
      margin: 5px !important;
      width: 46.5% !important
    }
    &-7{
      margin: 5px !important;
      width: 58.3333% !important
    }
    &-8{
      margin: 5px !important;
      width: 66.6666% !important
    }
    &-9{
      margin: 5px !important;
      width: 75% !important
    }
    &-10{
      margin: 5px !important;
      width: 83.3333% !important
    }
    &-11{
      margin: 5px !important;
      width: 91.66% !important
    }
    &-12{
      margin: 5px !important;
      width: 100% !important
    }
  }

  .none-mobile{
    display: none !important
  }
  .none-desk{
    display: block !important
  }
}
